  	<header>
  		<nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
  		  <div class="full">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <%= link_to 'Inicio', root_path, class: "nav-link active"  %>
            </li>
            <li class="nav-item">
              <%= link_to 'Menus', menus_path, class: "nav-link active"  %>
            </li>
            <li class="nav-item">
              <%= link_to 'Comidas', foods_path, class: "nav-link active"  %>
            </li>            
            <li class="nav-item">
              <%= link_to 'Pedidos', sales_path, class: "nav-link active"  %>
            </li>
          </ul>

  		  </div><!-- /.container-fluid -->
  		</nav>
  	</header>

